.wp-block .dps-testimonial,
.dps-testimonial {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 400px;
}

.dps-testimonial .testimonial-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}